[package]
name = "winio-ui-gtk"
version = "0.3.2"
description = "GTK backend for winio."
edition = { workspace = true }
authors = { workspace = true }
readme = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[target.'cfg(not(any(windows, target_os = "macos")))'.dependencies]
winio-primitive = { workspace = true }
winio-handle = { workspace = true, features = ["gtk"] }
winio-callback = { workspace = true }
winio-pollable = { workspace = true }

inherit-methods-macro = { workspace = true }
image = { workspace = true, default-features = false }
scoped-tls = { workspace = true }

gtk4 = { workspace = true, features = ["v4_14"] }
pangocairo = "0.21"
webkit6 = { version = "0.5", optional = true }

[features]
media = []
webview = ["dep:webkit6"]
